################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# 适用于ASP.NET 8项目的.gitignore

# 操作系统生成的文件
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

# 配置文件
appsettings.Development.json
appsettings.Local.json
*.user
*.suo
*.pdb
*.vspscc
*.vssscc

# 构建和发布文件夹
/bin/
/obj/
/out/
/publish/
/.vs/
/.vscode/
/.idea/

# 日志和临时文件
*.log
*.cache
*.temp

# 依赖项
**/node_modules/
**/bower_components/
**/jspm_packages/
**/packages/

# 数据库文件
*.mdf
*.ldf
*.sdf

# 测试结果
TestResults/
xunit.runner.json

# 其他
docker-compose.override.yml
.coverage
/Leaderboard/bin/Debug/net8.0
/Leaderboard/obj/Debug/net8.0/ref
/Leaderboard.AppHost/bin/Debug/net8.0
/Leaderboard.AppHost/obj/Debug/net8.0/Aspire/references
/Leaderboard.AppHost/obj/Debug/net8.0/ref
/Leaderboard.AppHost/obj/Debug/net8.0/refint
/Leaderboard.AppHost/obj/Debug/net8.0/apphost.exe
/Leaderboard.AppHost/obj/Debug/net8.0/Leaderbo.8E7EC3ED.Up2Date
/Leaderboard.AppHost/obj/Debug/net8.0/Leaderboard.AppHost.AssemblyInfo.cs
/Leaderboard.AppHost/obj/Debug/net8.0/Leaderboard.AppHost.csproj.FileListAbsolute.txt
/Leaderboard.AppHost/obj/Debug/net8.0/Leaderboard.AppHost.dll
/Leaderboard.AppHost/obj/Debug/net8.0/Leaderboard.AppHost.GeneratedMSBuildEditorConfig.editorconfig
/Leaderboard.AppHost/obj/Debug/net8.0/Leaderboard.AppHost.sourcelink.json
/Leaderboard.ServiceDefaults/bin/Debug/net8.0
/Leaderboard.ServiceDefaults/obj/Debug/net8.0/ref
/Leaderboard.ServiceDefaults/obj/Debug/net8.0/refint
/Leaderboard.ServiceDefaults/obj/Debug/net8.0/Leaderboard.ServiceDefaults.AssemblyInfo.cs
/Leaderboard.ServiceDefaults/obj/Debug/net8.0/Leaderboard.ServiceDefaults.csproj.FileListAbsolute.txt
/Leaderboard.ServiceDefaults/obj/Debug/net8.0/Leaderboard.ServiceDefaults.dll
/Leaderboard.ServiceDefaults/obj/Debug/net8.0/Leaderboard.ServiceDefaults.GeneratedMSBuildEditorConfig.editorconfig
/Leaderboard.ServiceDefaults/obj/Debug/net8.0/Leaderboard.ServiceDefaults.sourcelink.json
/Leaderboard/obj/Debug/net8.0/refint
/Leaderboard/obj/Debug/net8.0/apphost.exe
/Leaderboard/obj/Debug/net8.0/Leaderbo.0AFA5BA3.Up2Date
/Leaderboard/obj/Debug/net8.0/Leaderboard.AssemblyInfo.cs
/Leaderboard/obj/Debug/net8.0/Leaderboard.csproj.FileListAbsolute.txt
/Leaderboard/obj/Debug/net8.0/Leaderboard.dll
/Leaderboard/obj/Debug/net8.0/Leaderboard.GeneratedMSBuildEditorConfig.editorconfig
/Leaderboard/obj/Debug/net8.0/Leaderboard.MvcApplicationPartsAssemblyInfo.cs
/Leaderboard/obj/Debug/net8.0/Leaderboard.sourcelink.json
/Leaderboard/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Leaderboard/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Leaderboard/obj/Debug/net8.0/rpswa.dswa.cache.json
/Leaderboard/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Leaderboard/obj/Debug/net8.0/staticwebassets.build.json
